<article *ngIf="runner">
  <table>
    <thead>
    <th>Id</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Date of birth</th>
    </thead>
    <tbody>
    <tr>
      <td>{{runner.id}}</td>
      <td>{{runner.name}}</td>
      <td>{{runner.surname}}</td>
      <td>{{runner.birthDate}}</td>
    </tr>
    <tr>
      <th>Shoe id</th>
      <th>Shoe Brand</th>
      <th>Shoe Edit</th>
      <th>Shoe Delete</th>
    </tr>
    <tr *ngFor="let shoe of shoes?.shoes">
      <td>{{shoe.id}}</td>
      <td>{{shoe.brandName}}</td>
      <td><button type="button" [routerLink]="['/runners', runner.id, 'shoes', shoe.id, 'edit']">Edit</button></td>
      <td><button type="button" (click)="deleteElement(shoe.id)">Delete</button></td>
    </tr>
    <tr>
      <button [routerLink]="['/runners', runner.id, 'newShoe']">Add new shoe</button>
    </tr>
    </tbody>
  </table>
</article>

