<article *ngIf="shoe">
  <header><h2>Edit Runner</h2></header>

  <form class="container" #form="ngForm" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <th><label for="brandName">Brand Name</label></th>
        <th><label for="model">Model</label></th>
        <th><label for="color">Color</label></th>
        <th><label for="size">Size</label></th>
      </tr>
      <tr>
        <td><input id="brandName" name="brandName" [(ngModel)]="shoe.brandName"/></td>
        <td><input id="model" name="model" [(ngModel)]="shoe.model"/></td>
        <td><input id="color" name="color" [(ngModel)]="shoe.color"/></td>
        <td><input id="size" name="size" [(ngModel)]="shoe.size"/></td>
      </tr>
    </table>

    <div class="row">
      <div class="col-2 p-2">
        <button type="submit">Update</button>
      </div>
      <div class="col-2 p-2">
        <button type="button" (click)="form.resetForm(original)">Reset</button>
      </div>
    </div>
  </form>
</article>

