/* You can add global styles to this file, and also import other style files */
table {
  border-collapse: collapse; /* Ensures borders don't double up */
  width: 50%; /* Optional: makes the table span the width of the container */
}

th, td {
  border: 1px solid #000; /* Black border around each cell */
  padding: 3px; /* Adds padding inside each cell */
  text-align: justify; /* Aligns text to the left inside each cell */
}

th{
  border: 3px solid #000;
}

footer{
  text-align: center;
  width: 100%;
}
